body{
    margin: 0;
    padding: 0;
}
    
.container{
    display: flex;
    flex-direction: column;
}

.content{
    padding: 0 200px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
}

.header .left-side{
    color: #F9FAF8;
    font-size: 24px;
}

.header .right-side ul{
    display: flex;
    gap:  15px;
}

.header .right-side li{
    list-style-type: none;
}

.header .right-side a{
    text-decoration: none;
    color: #E5e7eb; 
} 

.hero{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    background-color: #1F2937;
    padding-top: 50px;
    padding-bottom: 50px;
    flex-wrap: wrap;
}

.hero *{
    flex: 1;
    flex-grow: 1;
}

.hero .left-side{
    display: flex;
    flex-direction: column;
}

.hero .left-side .main_text h1{
    font-size: 48px;
    margin: 0px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero .left-side .secondary_text p{
    font-size: 18px;
    color: #e5e7eb;
}

.hero .right-side{
    display: flex;
    background-color: #E5e7eb;
    border-radius: 80px;
}
.hero .right-side .image-right img{
    width: 100%;
    height: 100%;
    flex: 1;
    
    border-radius: 80px;
}

.left-side .button button{
    color: white;
    background-color: #3882f6;
    padding: 15px 40px;
    border-radius: 20px;
}

.information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 20px;
}

.information *{
    flex: 1;
}

.information .first-column p{
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}

.information .second-column{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.information .second-column .info{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.information .second-column .info .info-first{
    border: 2px solid #3882f6;
    border-radius: 20px;
    padding: 100px 0px;
}

.quote-container{
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.quote-container .first-column{
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.quote-container .second-column{
    text-align: end;
    font-weight: bold;
    font-size: 20px;
}